.toolbar {
    --background-color: #1e1e1e;
    --button-text-color: #fff;
    --button-hover-color: #383838;

    /* location */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    /* sizing */
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    background-color: var(--background-color);
    overflow: hidden;

    box-sizing: border-box;
}

.toolbar .logo {
    height: 20px;
    width: auto;
    padding: 0;
    margin: 0 12px 0 0;
    /* don’t let flexbox resize it */
    flex-shrink: 0;
}

/*Toolbar link buttons*/
.toolbar a {
    color: var(--button-text-color);
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.toolbar a:hover {
    background-color: var(--button-hover-color);
    border-radius: 5px;
}

.toolbar-project-name {
    font-size: 1.1rem;
    font-weight: 500;
    flex: 1;
}

.toolbar-icons {
    display: flex;
    gap: 12px;
}

.toolbar-icons .icon {
    height: 32px;
    width: 32px;
    /* prevent growing */
    flex-shrink: 0;
    object-fit: contain;
    cursor: pointer;

    color: dodgerblue;
}